div.home {
  background-image: url(../images/cp.jpg);
  background-size: cover;
  height: 610px;
  background-repeat: no-repeat;
  margin: auto;
  margin-left: -10px;
  margin-right: -10px;
  background-position: 50%;
  background-color: #fff;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:-1;
  /*position:fixed;*/
}

h1 {
  height: 75px;
  background-color: black;
  color: white;
  margin-bottom: -20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 42px;
  padding-left: 25px;
}

#byline {
  width: 460px;
  background-color: black;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  margin-top: -20px;
  padding-left: 25px;
}

h3 {
  height: 45px;
  background-color: black;
  color: white;
  margin-bottom: -20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
}

.links-toolbar {
  position: fixed;
  top: -25px;
  right: 10px;
  float: right;
}

.links-toolbar li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#name {
  /*width: 460px;*/
  margin-top: -7px;
}

.name-div {
  /*width: 460px;*/
}

.about-div {
  width: 133px;
}

.portfolio-div {
  width: 182px;
}

.contact-div {
  width: 162px;
}

a {
  text-decoration: none;
}
.about-section {
  margin-top: -20px;
  background-color: green;
  margin-left: -10px;
  margin-right: -10px;
}

.portfolio-section {
  margin-top: -20px;
  background-color: orange;
  margin-left: -10px;
  margin-right: -10px;
}

.contact-section {
  margin-top: -20px;
  background-color: yellow;
  margin-left: -10px;
  margin-right: -10px;
}
