body {
  background: url(../images/cp.jpg);
  background-size: cover;
}

h1 {
  height: 75px;
  background-color: black;
  color: white;
  margin-bottom: -20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 42px;
  padding-left: 25px;
}

#name {
  width: 460px;
}

.name-div {
  width: 460px;
}

#about {
  width: 150px;
}

.about-div {
  width: 150px;
}

#portfolio {
  width: 230px;
}

.portfolio-div {
  width: 230px;
}

#contact {
  width: 200px;
}

.contact-div {
  width: 200px;
}

#byline {
  width: 460px;
  background-color: black;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  margin-top: -20px;
  padding-left: 25px;
}

.information {
  display: none;
  height: 500px;
  width: 700px;
  background-color: white;
  opacity: 0.3;
  position: fixed;
  top: 28px;
  right: 25px;
}
